<div class="page-header">
  <h1>Query Zuora</h1>
</div>

<form>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="inputUsername">Zuora Username</label>
        <input type="email" class="form-control" id="inputUsername" placeholder="Username">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="inputPassword">Zuora Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="inputEnvironment">Environment</label>
        <select id="inputEnvironment" class="form-control">
          <option value="apisandbox" selected="selected">Apisandbox</option>
          <option value="production">Production</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="inputQuery">Query (ZOQL)</label>
    <textarea class="form-control" rows="7"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
