<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Zuora Web</title>

  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="zuora.css">
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
