<div class="page-header">
  <h2>Results</h2>
</div>

<form>
  <div class="form-group">
    <textarea class="form-control query" rows="20"><%= @query_results.inspect %></textarea>
  </div>
</form>

<div class="page-header">
  <h2>Another query</h2>
</div>

<%= erb :query_form %>
