<form method="post" action="/query">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-username">Zuora Username</label>
        <input type="email" class="form-control" id="input-username" name="username" placeholder="Username" value="<%= @username %>">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-password">Zuora Password</label>
        <input type="password" class="form-control" id="input-password" name="password" placeholder="Password" value="<%= @password %>">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <label for="input-environment">Environment</label>
        <select id="input-environment" class="form-control" name="environment">
          <option value="apisandbox" selected="selected">Apisandbox</option>
          <option value="production">Production</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input-query">Query (ZOQL)</label>
    <textarea id="input-query" name="query" class="form-control query" rows="7" placeholder="Enter your Zuora Object Query, e.g. SELECT Id, Name FROM Account"><%= @query %></textarea>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="save_credentials" <%= 'checked="checked"' if @save_credentials %>> Preserve inputs during the session
        </label>
      </div>
    </div>

    <div class="col-sm-6 text-right">
      <button type="submit" class="btn btn-default">Execute Query</button>
    </div>
  </div>
</form>
